.offer {
  max-width: 1190px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    width: 50%;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    max-width: 485px;
    padding: 0 0 0 5vw;
    opacity: 0;

    h2 {
      font-weight: 700;
      font-size: 52px;
      line-height: 70px;
      margin: 0 0 15px;

      span {
        display: block;
        font-size: 72px;
        transition: color 200ms ease-in;
      }
    }
  }

  .menuBlock {
    max-width: 500px;
    max-height: 500px;
    text-align: right;
    width: 100%;
    height: 100%;
    position: relative;

    .menuShadow {
      width: 120%;
      height: 120%;
      position: absolute;
      left: 50%;
      top: -15%;
      background: #eff1f3;
      opacity: 0;
    }
  }

  .menuWrapper {
    max-width: 500px;
    max-height: 500px;
    transform: scale(0);
    background: #2d2d2d;
    padding: 130px 71px 130px 138px;
    position: relative;
    will-change: box-shadow;
    overflow: hidden;
    transition: background-color 300ms ease;

    &:before {
      position: absolute;
      content: "";
      top: -10rem;
      left: -10rem;
      width: calc(100% + 20rem);
      height: calc(100% + 20rem);
      opacity: 0;
      pointer-events: none;
      will-change: opacity;
      background: url("/noise.png") 10% center;
      transition: opacity 0.26s ease-out 0s;
      animation: bg-animation 1s steps(2) 0s infinite normal none running;
    }

    &:hover:before {
      opacity: 0.06;
    }

    .menu {
      animation-delay: 250ms;
      opacity: 0;

      a {
        display: block;
        font-size: 20px;
        line-height: 40px;
        color: #fefefe;
        text-transform: uppercase;

        &.active,
        &:hover {
          font-weight: 700;
        }
      }
    }
  }
}

.web {
  .menuWrapper {
    background: #ffce21;
  }
  h2 {
    span {
      color: #ffce21;
    }
  }
}

.mobile {
  .menuWrapper {
    background: #36a900;
  }
  h2 {
    span {
      color: #36a900;
    }
  }
}

.consulting {
  .menuWrapper {
    background: #5865f2;
  }
  h2 {
    span {
      color: #5865f2;
    }
  }
}

.services {
  .menuWrapper {
    background: #2663ff;
  }
  h2 {
    span {
      color: #2663ff;
    }
  }
}

.cloud {
  .menuWrapper {
    background: #00a8f0;
  }
  h2 {
    span {
      color: #00a8f0;
    }
  }
}

.design {
  .menuWrapper {
    background: #f2586a;
  }
  h2 {
    span {
      color: #f2586a;
    }
  }
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
