.offer {
  max-width: 1190px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .text {
    width: 55%;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    max-width: 540px;
    padding: 0 0 0 3.5vw;
    opacity: 0;
    letter-spacing: 1px;

    h2 {
      font-weight: 700;
      font-size: 52px;
      line-height: 65px;
      margin: 15px 0 25px;
      letter-spacing: 3px;

      span {
        display: block;
        margin: 12px 0 0;
        font-size: 82px;
        transition: color 200ms ease-in;
      }
    }
  }

  .menuBlock {
    max-width: 500px;
    max-height: 500px;
    text-align: right;
    width: 100%;
    height: 100%;
    position: relative;

    .menuShadow {
      width: 120%;
      height: 120%;
      position: absolute;
      left: 48%;
      top: -9%;
      background: #eff1f3;
      opacity: 0;
    }
  }

  .menuWrapper {
    max-width: 473px;
    width: 100%;
    max-height: 473px;
    transform: scale(0);
    background: #2d2d2d;
    padding: 123px 84px 130px 138px;
    margin: 60px 0 0 82px;
    position: relative;
    will-change: box-shadow;
    overflow: hidden;
    transition: background-color 300ms ease;

    &:before {
      position: absolute;
      content: "";
      top: -10rem;
      left: -10rem;
      width: calc(100% + 20rem);
      height: calc(100% + 20rem);
      opacity: 0;
      pointer-events: none;
      will-change: opacity;
      background: url("/noise.png") 10% center;
      transition: opacity 0.26s ease-out 0s;
      animation: bg-animation 1s steps(2) 0s infinite normal none running;
    }

    &:hover:before {
      opacity: 0.06;
    }

    .menu {
      animation-delay: 250ms;
      opacity: 0;

      a {
        display: block;
        font-size: 20px;
        line-height: 40px;
        color: #fefefe;
        text-transform: uppercase;
        letter-spacing: 1px;

        &.active,
        &:hover {
          font-weight: 700;
        }
      }
    }
  }

  .offerCircle {
    position: absolute;
    width: 689px;
    height: 689px;
    left: -55vw;
    top: calc(50% - 689px / 2);
    border-radius: 100%;

    background: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.3) -27px 0px 70px -18px;
    transition: all 0.2s ease 0s;
    transform: rotate(0deg);
    border-radius: 50%;
    animation: spin 2s linear infinite;

    &.circleIn {
      animation: spin 2s linear infinite, circleMoveIn 600ms forwards linear;
    }

    &.circleOut {
      animation: spin 2s linear infinite, circleMoveOut 600ms forwards linear;
    }

    &:hover {
      animation: spin 2s linear infinite, morph 1.8s linear infinite,
        circleMoveIn 600ms forwards linear;
    }
  }
}

@keyframes circleMoveIn {
  from {
    left: -55vw;
  }
  to {
    left: -52vw;
  }
}

@keyframes circleMoveOut {
  from {
    left: -52vw;
  }
  to {
    left: -55vw;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes morph {
  0%,
  to {
    border-radius: 40% 60% 70% 30%/40% 40% 60% 50%;
  }

  34% {
    border-radius: 70% 30% 50% 50%/30% 30% 70% 70%;
  }

  67% {
    border-radius: 100% 60% 60% 100%/100% 100% 60% 60%;
  }
}

.web {
  .menuWrapper {
    background: #ffce21;
  }
  h2 {
    span {
      color: #ffce21;
    }
  }
  .offerCircle {
    box-shadow: rgba(255, 207, 38, 0.6) -27px 0px 70px -18px;
  }
}

.mobile {
  .menuWrapper {
    background: #36a900;
  }
  h2 {
    span {
      color: #36a900;
    }
  }
  .offerCircle {
    box-shadow: rgba(54, 169, 0, 0.6) -27px 0px 70px -18px;
  }
}

.consulting {
  .menuWrapper {
    background: #5865f2;
  }
  h2 {
    span {
      color: #5865f2;
    }
  }
  .offerCircle {
    box-shadow: rgba(88, 101, 242, 0.6) -27px 0px 70px -18px;
  }
}

.services {
  .menuWrapper {
    background: #2663ff;
  }
  h2 {
    span {
      color: #2663ff;
    }
  }
  .offerCircle {
    box-shadow: rgba(38, 99, 255, 0.6) -27px 0px 70px -18px;
  }
}

.cloud {
  .menuWrapper {
    background: #00a8f0;
  }
  h2 {
    span {
      color: #00a8f0;
    }
  }
  .offerCircle {
    box-shadow: rgba(0, 168, 240, 0.6) -27px 0px 70px -18px;
  }
}

.design {
  .menuWrapper {
    background: #f2586a;
  }
  h2 {
    span {
      color: #f2586a;
    }
  }
  .offerCircle {
    box-shadow: rgba(242, 88, 106, 0.6) -27px 0px 70px -18px;
  }
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
