.offer {
  max-width: 1190px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    width: 50%;
    position: relative;
    bottom: 0;
    opacity: 0;
    animation-delay: 0s;
    animation-duration: 1s;
  }

  .menu {
    text-align: right;
    opacity: 0;
    animation-delay: 0s;
    animation-duration: 1s;

    a {
      display: block;
    }
  }
}
