.footerWrapper {
  position: relative;
  height: 100%;
  background: url(../../../public/footer-bg.png) center top -50vh no-repeat;
  background-size: 100% auto;
  transition: background-position 300ms ease-in,
    background-color 50ms ease-in-out;

  &.active {
    background-color: rgba(0, 0, 0, 0.47);
    background-position: center top 0;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #111;
  width: 100vw;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.09em;
  color: #ffffff;

  .top {
    display: flex;
    justify-content: space-between;
    gap: 128px;
    max-width: 1080px;
    padding: 130px 16px 30px;
    margin: 0 auto;

    .textBlock {
      width: 50%;

      .thomas {
        display: flex;
        justify-content: flex-start;
        gap: 12px;
        margin: 0 0 30px;

        strong {
          display: block;
          font-weight: 700;
          font-size: 20px;
          line-height: 23px;
          margin: 12px 0;
        }

        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
        }
      }
    }

    .form {
      width: 50%;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    padding: 64px 16px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 140.9%;

    > div {
      width: 33.3%;
    }

    > div:last-child {
      text-align: right;
    }

    .footerLogo {
      img {
        margin: 0 auto;
      }
    }
  }
}
