.leadersIntro {
  max-width: 1180px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h2 {
    font-weight: 700;
    font-size: 54px;
    line-height: 110%;
    margin: 0 0 32px;
  }

  .description {
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0.04em;
    margin: 0 auto 39px;
    max-width: 722px;
  }

  .leaders {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    .item {
      cursor: pointer;
    }

    strong {
      position: relative;
      top: -25px;
    }
  }
}

@media (max-width: 999px) {
  .leadersIntro {
    h2 {
      font-size: 48px;
      text-align: left;
      padding: 0 20px;
    }
    .description {
      padding: 0 20px;
      margin: 0;
      text-align: left;
    }
    .leaders {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;

      .item {
        width: calc(50% - 60px);
      }
    }
  }
}
