@font-face {
  font-family: "Ubuntu";
  src: url("Ubuntu-Regular.eot");
  src: url("Ubuntu-Regular.eot?#iefix") format("embedded-opentype"),
    url("Ubuntu-Regular.woff2") format("woff2"),
    url("Ubuntu-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("Ubuntu-Medium.eot");
  src: url("Ubuntu-Medium.eot?#iefix") format("embedded-opentype"),
    url("Ubuntu-Medium.woff2") format("woff2"),
    url("Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("Ubuntu-Bold.eot");
  src: url("Ubuntu-Bold.eot?#iefix") format("embedded-opentype"),
    url("Ubuntu-Bold.woff2") format("woff2"),
    url("Ubuntu-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
