.portfolioGallery {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  .portfolioContainer {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    display: flex;

    .titleContainer,
    .descriptionContainer {
      height: 50vh;
      padding: 18px 0 0;
    }

    .titleContainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 0 37px;
    }
  }
}

.info {
  width: 50%;
  padding-left: 5%;

  .imageMobile {
    display: none;
  }
}

.title {
  position: relative;
  color: #282828;
  font-weight: 500;
  font-size: 46px;
  line-height: 112px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    margin: 0 20px 20px 0;
    max-height: 54px;
    width: auto;
    max-width: 100%;
    height: auto;
  }
}

.label {
  position: relative;
  display: inline-block;
  padding: 0 32px;
  margin: 0 9px 0 0;
  background: rgba(255, 114, 97, 0.71);
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 1.3px;
}

.description {
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 42px;
  max-width: 470px;
  position: relative;
}

.image {
  display: flex;
  width: 50%;
  position: relative;

  img {
    width: 100%;
    height: auto;
    align-self: center;
    justify-self: flex-end;
  }
}

@media (max-width: 999px) {
  .portfolioGallery {
    height: 100vh;
    align-items: flex-start;

    .portfolioContainer {
      height: 100%;

      .titleContainer,
      .descriptionContainer {
        padding: 0;
        height: auto;
      }

      .descriptionContainer {
        height: 100%;
        max-height: 200px;
      }
    }
    .portfolioBottomBg {
      .bgLeft,
      .bgRight {
        display: none;
      }
    }
  }

  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-size: 32px;
      line-height: 64px;

      img {
        max-width: 30px;
        height: auto;
      }
    }

    .label {
      display: none;
    }

    .imageMobile {
      display: block;
      max-width: 90%;
    }

    .description {
      padding: 0 20px 0 0;
      font-size: 16px;
      line-height: 28px;
    }
  }
  .image {
    display: none;
  }
}
