.portfolioGallery {
  background: #f9f9f9 url(../../../../public/portfolio-bg.png) center repeat;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;

  .portfolioContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    display: flex;

    .titleContainer,
    .descriptionContainer {
      height: 50vh;
      padding: 18px 0 0;
    }

    .titleContainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 0 37px;
    }
  }

  .portfolioBottomWrapper {
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50vh;
    overflow: hidden;
  }

  .portfolioBottomBg {
    background: linear-gradient(90deg, #ff8370 21.84%, #ff9d73 64.38%);
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50vh;
    overflow: hidden;
  }
}

.info {
  width: 50%;
  padding-left: 5%;

  .imageMobile {
    display: none;
  }
}

.title {
  position: relative;
  color: #282828;
  font-weight: 500;
  font-size: 46px;
  line-height: 112px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    margin: 0 20px 0 0;
  }
}

.label {
  position: relative;
  display: inline-block;
  padding: 0 32px;
  margin: 0 9px 0 0;
  background: rgba(255, 114, 97, 0.71);
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 1.3px;
}

.description {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 46px;
  max-width: 470px;
  position: relative;
  left: 0;
}

.image {
  display: flex;
  width: 50%;
  position: relative;

  img {
    width: 100%;
    height: auto;
    align-self: center;
    justify-self: flex-end;
  }
}

.animateOut {
  .image {
    animation: fadeUpOut 400ms forwards linear;
  }
  .title,
  .label {
    animation: fadeUpOut 1200ms forwards linear;
  }
  .description {
    animation: fadeOutLeft 1200ms forwards linear;
  }
  // .portfolioBottomBg {
  //   animation: scrollLeft 900ms forwards linear,
  //     wobble 1000ms ease-in-out alternate infinite;
  // }
}

.animateIn {
  .image {
    animation: fadeIn 700ms forwards linear;
  }
  .title,
  .label,
  .description {
    animation: fadeIn 600ms forwards linear;
  }
}

@keyframes wobble {
  0% {
    border-radius: 0px 30px 130px 0px / 0px 80px 250px 0px;
  }
  50% {
    border-radius: 0px 130px 30px 0px / 0px 250px 80px 0px;
  }
  100% {
    border-radius: 0px 30px 130px 0px / 0px 80px 250px 0px;
  }
}

@keyframes fadeOutLeft {
  0% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: -1000px;
    opacity: 0;
  }
}

@keyframes scrollLeft {
  0% {
    left: 0;
  }
  100% {
    left: -1000px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeUpOut {
  0% {
    top: 0;
    transform: scale(1);
  }
  100% {
    top: -100vh;
    opacity: 0;
    transform: scale(0.6);
  }
}

@media (max-width: 999px) {
  .portfolioGallery {
    .portfolioContainer {
      .descriptionContainer {
        padding: 0;
      }
    }
  }

  .info {
    width: 100%;

    .title {
      font-size: 32px;
      line-height: 64px;

      img {
        max-width: 30px;
        height: auto;
      }
    }

    .label {
      display: none;
    }

    .imageMobile {
      display: block;
      max-width: 90%;
    }

    .description {
      padding: 0 20px 0 0;
      font-size: 18px;
      line-height: 36px;
    }
  }
  .image {
    display: none;
  }
}
