.portfolioIntro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  position: relative;
  z-index: 2;
  background: #fff;

  p {
    max-width: 770px;
  }
}
