.leadersGallery {
  position: relative;
  height: 100vh;
  overflow: hidden;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  cursor: url("../../../../public/portfolio-cursor.svg") 60 35, pointer;
  cursor: -webkit-image-set(
        url("../../../../public/portfolio-cursor.png") 1x,
        url("../../../../public/portfolio-cursor@2x.png") 2x
      )
      60 35,
    pointer; /* Webkit */

  .slide {
    width: 75vw;
  }

  :global(.swiper-pagination) {
    position: absolute;
    top: calc(100vh - 50px);
  }
  :global(.swiper-pagination-bullet) {
    background: #000;
    opacity: 0.3;
  }
  :global(.swiper-pagination-bullet-active) {
    opacity: 1;
  }
}

.item {
  margin-top: 130px;
  padding: 0 5vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .name {
    font-weight: 700;
    font-size: 150px;
    line-height: 90%;
  }

  p {
    max-width: 420px;
    margin: 100px 0 0;
    font-size: 18px;
    line-height: 180%;
  }

  .descImage {
    display: flex;
    justify-content: space-between;

    p {
      width: 40%;
    }

    .image {
      position: relative;
      top: -150px;
      right: -100px;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  &.textRight {
    .name {
      text-align: right;
    }

    .descImage {
      flex-direction: row-reverse;

      .image {
        right: 50px;
      }
    }
  }
}

@media (max-width: 999px) {
  .leadersGallery {
    .slide {
      width: 85%;
    }
    :global(.swiper-pagination) {
      top: calc(100vh + 50px);
    }
  }

  .item {
    padding: 0 5%;
    position: relative;
    top: -20px;

    .name {
      font-size: 60px;
    }
    .descImage {
      flex-direction: column-reverse;

      p {
        width: 100%;
        margin: 0;
      }

      .image {
        top: 0;
        right: 15%;
      }
    }

    &.textRight {
      position: relative;
      top: 30px;

      .name {
        text-align: left;
      }

      .descImage {
        flex-direction: column-reverse;
      }

      .image {
        right: 15%;
      }
    }
  }
}
