.leadersGallery {
  cursor: url("../../../../public/portfolio-cursor.svg") 60 35, pointer;
  cursor: -webkit-image-set(
        url("../../../../public/portfolio-cursor.png") 1x,
        url("../../../../public/portfolio-cursor@2x.png") 2x
      )
      60 35,
    pointer; /* Webkit */

  .slide {
    width: 85%;
  }
}

.item {
  margin-top: 170px;
  padding: 0 5vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  .name {
    font-weight: 700;
    font-size: 170px;
    line-height: 90%;
  }

  p {
    max-width: 410px;
    margin: 100px 0 0;
    font-size: 18px;
    line-height: 180%;
  }

  .descImage {
    display: flex;
    justify-content: space-between;

    img {
      position: relative;
      top: -200px;
      right: -100px;
    }
  }

  &.textRight {
    .name {
      text-align: right;
    }

    .descImage {
      flex-direction: row-reverse;

      img {
        right: 0;
      }
    }
  }
}
