.portfolio {
  position: relative;
  height: 100vh;
  overflow: hidden;

  cursor: url("../../../public/portfolio-cursor.svg") 60 35, pointer;
  cursor: -webkit-image-set(
        url("../../../public/portfolio-cursor.png") 1x,
        url("../../../public/portfolio-cursor@2x.png") 2x
      )
      60 35,
    pointer; /* Webkit */
}

.pagination {
  position: absolute;
  z-index: 10;
  width: 100%;
  bottom: 50px;
  text-align: center;

  button {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background: #fff;
    opacity: 0.5;
    padding: 0;
    margin: 0 5px;
    box-shadow: none;
    border: none;
    cursor: pointer;

    &:hover,
    &.active {
      opacity: 1;
    }
  }
}

.upperBackground,
.upperBackgroundNext {
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  position: fixed;
  height: 50%;
  width: 100%;
  top: 0;
  left: 0;
}

.portfolioBottomBg {
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.portfolioBottomNextBg {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.portfolioBottomBg.animateIn,
.upperBackground.animateIn {
  animation: fadeIn 300ms forwards;
}
.portfolioBottomBg.animateOut,
.upperBackground.animateOut {
  animation: fadeOut 500ms forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: auto;
  }
  100% {
    opacity: 0;
  }
}
