.fadeIn {
  animation: fadeIn 500ms forwards ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInWithOpacity {
  animation: fadeInWithOpacity 500ms forwards ease;
}

@keyframes fadeInWithOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.21;
  }
}

.fadeUp {
  animation: fadeUp 500ms forwards ease;
}

@keyframes fadeUp {
  0% {
    bottom: -100%;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

.fadeRight {
  animation: fadeRight 400ms forwards ease;
}

@keyframes fadeRight {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.typing {
  animation: typing 3.5s steps(50, end) forwards,
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

.menuGrow {
  animation: menu-grow 300ms forwards linear;
}

@keyframes menu-grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
