.fadeIn {
  animation: fadeIn 500ms forwards ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeUp {
  animation: fadeUp 500ms forwards ease;
}

@keyframes fadeUp {
  0% {
    bottom: -100%;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

.fadeLeft {
  animation: fadeLeft 400ms forwards ease;
}

@keyframes fadeLeft {
  0% {
    right: -200px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

.typing {
  animation: typing 3.5s steps(50, end) forwards,
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}
