*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 999px) {
  .container {
    padding: 0 20px;
  }
}

/* SWIPER STYLES */
.swiper-wrapper {
  transition-timing-function: ease-in-out;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 12px !important;
  background: #fff;
  opacity: 0.5;
  transition: all 400ms ease-in;
}

.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}
