.hero {
  display: flex;
  align-items: center;
  gap: 46px;
  height: calc(100vh - 150px);
  overflow: hidden;

  .image {
    width: 50%;
    position: relative;
    bottom: 0;
    opacity: 0;
    animation: imageAnimation 500ms forwards ease;
    animation-delay: 100ms;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .text {
    width: 46%;
    color: #fff;

    h1 {
      font-weight: 700;
      font-size: 60px;
      line-height: 120%;
      letter-spacing: 4px;

      span {
        color: #ffc700;
        font-size: 25px;
        position: relative;
        right: -200px;
        top: 2px;
        opacity: 0;
        animation: dotAnimation 400ms forwards ease;
        animation-delay: 400ms;
      }
    }

    h2 {
      font-weight: 400;
      font-size: 24px;
      letter-spacing: 4.7px;
      line-height: 139.9%;
      overflow: hidden;
      white-space: nowrap;
      width: 0%;
      max-width: 400px;
      border-right: 1px solid transparent;
      animation: typing 3.5s steps(50, end) forwards,
        blink-caret 0.75s step-end infinite;
      animation-delay: 1100ms;
    }
  }
}

@keyframes imageAnimation {
  0% {
    bottom: -100%;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes dotAnimation {
  0% {
    right: -200px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

@media (max-width: 999px) {
  .hero {
    flex-direction: column-reverse;
  }
}
