.hero {
  display: flex;
  align-items: center;
  gap: 27px;
  height: calc(100vh - 150px);
  overflow: hidden;

  .image {
    background: url(../../../../public/hero-bg.png) right 20vh top 52.5vh
      no-repeat;
    background-size: 720px 395px;
    width: 52.3%;

    img {
      float: right;
      position: relative;
      top: 800px;
      opacity: 0;
      animation-delay: 100ms;
    }
  }

  .text {
    width: 47.7%;
    height: 100%;
    padding-top: 27.3vh;
    color: #fff;
    position: relative;

    h1 {
      font-weight: 700;
      font-size: 60px;
      line-height: 120%;
      letter-spacing: 3px;
      margin: 0;

      span {
        color: #ffc700;
        font-size: 25px;
        position: relative;
        top: 2px;
        opacity: 0;
        animation-delay: 400ms;
      }
    }

    h2 {
      font-weight: 400;
      font-size: 24px;
      letter-spacing: 4.3px;
      line-height: 139.9%;
      overflow: hidden;
      white-space: nowrap;
      width: 0%;
      margin: -5px 0 0;
      max-width: 400px;
      border-right: 1px solid transparent;
      animation-delay: 700ms;
    }

    .readMore {
      position: absolute;
      bottom: 0;
      left: -27px;
      border-left: 1px solid #fff;

      a {
        display: block;
        letter-spacing: 2px;
        color: #fff;
        padding: 10px 0 29px 19px;
        transition: padding 200ms ease-in-out;

        span {
          font-weight: 700;
        }

        &:hover {
          padding-top: 29px;
        }
      }
    }
  }
}

@media (max-width: 999px) {
  .hero {
    min-height: 100vh;
    height: auto;
    flex-direction: column-reverse;

    .text {
      width: 90%;
      padding-top: 90px;

      h1 {
        font-size: 48px;

        span {
          animation: none;
          left: 0;
          opacity: 1;
        }
      }

      h2 {
        font-size: 16px;
        animation: 0s;
        width: 100%;
        white-space: inherit;
      }
    }

    .image {
      width: 80%;
      height: 100%;
      background: none;
      position: relative;

      img {
        float: none;
        margin: 0 auto;
        max-width: 90%;
        height: auto;
        animation: none;
        opacity: 1;
        top: unset;
        bottom: -11vh;
      }
    }

    .readMore {
      display: none;
    }
  }
}
